*{
    box-sizing: border-box;
}


body{
    
    margin: 0;
    padding: 0;
    background-image: url('Main1.png');
    background-size: cover;
    background-repeat: no-repeat;
}  

nav{    
    padding-top: 30px; 
    padding-right: 50px; 
}

a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px; 
    margin-left: 50px;
}

h2{
    font-size: 30px;
    color: #FFFFFF;
    padding-top: 40px;
    
}

h1{
    margin-bottom:  160px;
    color: #F5F5F5;
    font-size: 50px;
}

button{
    background-color: #F5F5F5;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    padding-top:  0px;
}


.sc{
    color: #F5F5F5;
    margin-top: 150px;
    font-size: 60px;
   
}